In [1]:
import pandas as pd
import os

In [2]:
path_1 = os.path.join("..", "Resources", "Data", "beers_1.csv")
path_2 = os.path.join("..", "Resources", "Data", "beers_2.csv")
path_3 = os.path.join("..", "Resources", "Data", "beers_3.csv")

beer_1_df = pd.read_csv(path_1)
beer_2_df = pd.read_csv(path_2)
beer_3_df = pd.read_csv(path_3)

In [3]:
beer_2_df.head()

,id,name,brewery_id,state,country,style,availability,abv,notes,retired
0,202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,Rotating,7.3,No notes at this time.,f
1,82352,Konrads Stout Russian Imperial Stout,18604,NaN,NO,Russian Imperial Stout,Rotating,10.4,No notes at this time.,f
2,214879,Scottish Right,44306,IN,US,Scottish Ale,Year-round,4.0,No notes at this time.,t
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,8.7,Every time this year,f
4,246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,Rotating,5.1,No notes at this time.,f

In [4]:
beer_2_df.drop(columns=["id", "brewery_id", "state", "country", "style", "availability", "abv", "notes", "retired"], inplace=True)

In [5]:
beer_2_df.head()

                                   name
0                        Olde Cogitator
1  Konrads Stout Russian Imperial Stout
2                        Scottish Right
3               MegaMeow Imperial Stout
4                       Peaches-N-Cream

In [6]:
beer_2_df.sort_values(by=["name"], inplace=True)
beer_2_df.head()

                                    name
283711                                 !
184511                       ! (Old Ale)
75033                !!!PA Simcoe Mosaic
89188                              !!C&G
168456  !!PA Citra, Centennial & Cascade

In [7]:
beer_2_df.shape[0] # number of entries

358873

In [8]:
export_path = os.path.join("..", "Resources", "Data", "beers_joined.csv")

exported_csv = beer_2_df.to_csv(export_path)